/**
* @param {string} class
* @param {string} style
* @param {string} color
* @param {string} background
* @param {string} fontSize
* @param {boolean} notStackedOnMobile
* @param {boolean} verticalAlign - center | top | bottom
* @param {string} rowGap
* @param {string} columnGap
* @param {string} id
* @param {string} align - full | wide
* @param {string} customStyle
*/

{% macro render( props ) %}

  {% from "macros/blocks.njk" import  block %}

  {% set classes = buildClasses(props, []) %}

  {% set styles = buildStyles(props, []) | safe %}

  {%  set id = ' id="' + props.id + '"' if props.id %}

  <div class="wp-block-columns is-layout-flex {{ classes }}"{{ styles }}{{ id }}>

    {% if props.innerContent %}

      {% include props.innerContent %}

    {% endif %}

    {% if caller %}{{ caller()  }}{% endif %}

  </div>

{% endmacro %}
