{% from 'macros/common.njk' import menu %}

<header class="site-header sticky top-0 left-0 w-full transition-all duration-300 z-50 [&.is-scrolling-down]:-translate-y-full bg-white">

  <div class="container flex items-center justify-between gap-x-2 py-3 py-6">

    {% include 'global/brand.njk' %}

    <nav class="max-md:hidden" aria-label="primary">
      {{ menu({
        nav: navigation.main,
        menuClass: 'site-header__menu is-dropdown gap-x-9 flex',
        submenuClass: 'top-full min-w-50 bg-black p-5 text-white',
        currentPage: page.url
      }) }}
    </nav>

    {% include 'global/hamburger.njk' %}

  </div>

</header>
