{
    "plugins": [
        "prettier-plugin-css-order",
        "prettier-plugin-multiline-arrays"
    ],
    "tabWidth": 4,
    "bracketSameLine": true,
    "printWidth": 1000,
    "singleQuote": true,
    "quoteProps": "consistent",
    "multilineArraysWrapThreshold": 1,
    "singleAttributePerLine": true,
    "useTabs": false,
    "overrides": [
        {
            "files": [
                "**/*.css",
                "**/*.scss"
            ],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
