{
  "extends": [
    "stylelint-config-tailwindcss"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "media-feature-range-notation": null,
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["customClamp", "rem"]
      }
    ]
  }
}
