@custom-media --sm (width >= 40rem);
@custom-media --max-sm (width < 40rem);

@custom-media --md (width >= 48rem);
@custom-media --max-md (width < 48rem);

@custom-media --lg (width >= 64rem);
@custom-media --max-lg (width < 64rem);

@custom-media --xl (width >= 80rem);
@custom-media --max-xl (width < 80rem);

@custom-media --2xl (width >= 96rem);
@custom-media --max-2xl (width < 96rem);
