/**
* @param {string} class
* @param {string} style
* @param {number} level - 1, 2, 3, 4, 5, 6
* @param {string} content
* @param {string} textAlign - left, center, right
* @param {string} color
* @param {string} background
* @param {string} fontSize
* @param {string} fontFamily
* @param {string} id
* @param {string} align - full | wide
* @param {string} customStyle
*/

{% macro render( props ) %}

  {% set classes = buildClasses(props, []) %}

  {% set styles = buildStyles(props, []) | safe %}

  {% set level = props.level if props.level else '2' %}

  {%  set id = ' id="' + props.id + '"' if props.id %}

  <h{{ level }} class="wp-block-heading{{ classes }}"{{ styles }}{{ id }}>

    {% if caller %}

      {{ caller()  }}

    {% else %}

      {{ props.content | safe}}

    {% endif %}

  </h{{ level }}>

{% endmacro %}
