{% from "macros/blocks.njk" import block %}

{% if component.name != 'section-wrapper' %}
<div class="{% if component.bg %} {{ component.bg | toBgType}} bg-{{ component.bg }}{% endif %}">
  <div class="w-full py-6 px-container-padding mx-auto" style="max-width: calc(var(--container-wide) + var(--spacing-container-padding) * 2)">

    {% endif %}

    {{ block(component.name, component.context) }}

    {% if component.name != 'section-wrapper' %}
  </div>
</div>
{% endif %}
