{% from "macros/blocks.njk" import column, block %}

{% if component.name != 'section-wrapper' %}
<div class="container">
  {% endif %}

  {% if component.isContainer %}

    {% call block( component.name, component.context ) %}

      {% if component.containerContext %}

        {% include component.type + 's/' + component.name + '/context/' + component.containerContext + '.njk' %}

      {% endif %}

    {% endcall %}

  {%  else %}

    {{ block(component.name, component.context) }}

  {% endif %}

  {% if component.name != 'section-wrapper' %}
</div>
{% endif %}
