{% extends "design-system/layout.njk" %}

{% block inner %}

    <div class="overflow-hidden">

        {% include "./sidebar.njk" %}

        <main class="ds__main h-[calc(100vh_-_64px)] overflow-auto">

            {% block content %}{% endblock %}

        </main>

    </div>

{% endblock %}
