/**
* @param {string} class
* @param {string} style
* @param {string} color
* @param {string} background
* @param {string} tag
* @param {array} items
* @param {number} start
* @param {string} type
* @param {string} id
* @param {string} customStyle
*/

{% macro render( props ) %}

    {% set classes = buildClasses(props, [
        'is-style-default' if not props.customStyle
    ]) %}

    {% set styles = buildStyles(props, []) | safe %}

    {%  set type = ' type="' + props.type + '"' if props.type %}

    {%  set start = ' start="' + props.start + '"' if props.start %}

    {%  set id = ' id="' + props.id + '"' if props.id %}

    <{{ props.tag if props.tag else 'ul'}} class="wp-block-list {{ classes }}"{{ styles }}{{ type }}{{ start }}{{ id }}>

        {% if props.items %}

            {% for item in props.items %}

                {% set classes = buildClasses(item, []) %}

                {% set styles = buildStyles(item.style, []) | safe %}

                <li{%if classes %} class="{{ classes }}"{% endif %}{{ styles }}>

                    {{ item.content }}

                </li>

            {% endfor %}

        {% else %}

            {% if props.innerContent %}

                {% include props.innerContent %}

            {% endif %}

            {% if caller %}{{ caller()  }}{% endif %}

        {% endif %}

    </{{ props.tag if props.tag else 'ul'}}>

{% endmacro %}
