{% from "macros/blocks.njk" import block %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="{{ root }}/assets/styles/defaultBlockStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">

    <!-- static purpose only  -->
    <link rel="stylesheet" href="{{ root }}/assets/styles/gravity.css">

    <link rel="stylesheet" href="{{ root }}/assets/styles/app.css">

    <title>{% if component.title %}{{ component.title }} - Design System{% else %}{{ title }}{% endif %}</title>
</head>

{% from "macros/blocks.njk" import  block %}

<body{% if bodyClasses %} class="{{ bodyClasses }}"{% endif %}>
  <a href="#main" class="absolute left-2 -top-full z-[99999] bg-black text-white font-bold px-4 py-2 rounded border-2 border-transparent no-underline transition-[top] duration-300 ease-in-out focus:top-2 focus:outline-none focus:border-white hover:focus:bg-[#1f2937]">Skip to Main Content</a>

<div class="site flex flex-col min-h-screen *:w-full">

    <main class="content flex-grow overflow-clip" id="main">

        {{ content | safe }}

    </main>

</div>

<script type="text/javascript" src="{{ root }}/assets/scripts/app.js"></script>

</body>

</html>
