{% macro block(name, params) %}
  {%- from "../blocks/" + name + "/" + name + ".njk" import render -%}

  {%- if caller -%}
    {%- call render( params ) %}{{ caller() }}{% endcall -%}
  {%- else -%}
    {{- render( params ) -}}
  {%- endif -%}

{% endmacro %}
