/**
* @param {string} class
* @param {string} style
* @param {array} buttons
* @param {string} justification - left, right, center, space-between
* @param {boolean} stacked
* @param {string} fontSize
* @param {string} id
* @param {string} align - full | wide
* @param {string} customStyle
*/

{% macro render(props) %}

    {% from "macros/blocks.njk" import block %}

    {% set classes = buildClasses(props, ['']) %}

    {% set styles = buildStyles(props, []) | safe %}

    {% set id = ' id="' + props.id + '"' if props.id %}

    <div class="wp-block-buttons{{ classes }}"{{ styles }}{{ id }}>

        {% if props.buttons %}

            {% for button in props.buttons %}

                {{ block("button", button) }}

            {% endfor %}

        {% endif %}

    </div>

{% endmacro %}
