/**
* @param {string} class
* @param {string} style
* @param {string} color
* @param {string} background
* @param {string} tag
* @param {array} items
* @param {string} align - full | left | right | wide
* @param {string} id
* @param {string} customStyle
*/

{% macro render( props ) %}

  {% set classes = buildClasses(props, []) %}

  {% set styles = buildStyles(props, []) | safe %}

  {%  set id = ' id="' + props.id + '"' if props.id %}

    <figure class="wp-block-table{{ classes }}"{{ styles }}{{ id }}>

        {% if props.innerContent %}

            {% include props.innerContent %}

        {% endif %}

        {% if caller %}{{ caller()  }}{% endif %}

    </figure>

{% endmacro %}
