/**
* @param {string} class
* @param {string} style
* @param {array} color
* @param {string} background
* @param {boolean} fontFamily
* @param {string} fontSize
* @param {string} id
* @param {string} customStyle
*/

{% macro render(props) %}

  {% set wrapperClasses = buildClasses({
    class: props.class,
    customStyle: props.customStyle
  }, ['']) %}

  {% set buttonClasses = buildClasses({
    color: props.color,
    background: props.background,
    fontSize: props.fontSize,
    fontFamily: props.fontFamily
  }, ['']) %}

  {% set wrapperStyles = buildStyles({
    style: props.wrapperStyle
  }, [])  | safe %}

  {% set buttonStyles = buildStyles({
    style: props.style
  }, []) | safe %}

  {% set id = ' id="' + props.id + '"' if props.id %}

  <div class="wp-block-button{{ wrapperClasses }}"{{ wrapperStyles }}{{ id }}>

    <a href="{{ root }}{{ props.url }}" class="wp-block-button__link{{ buttonClasses }}"{{ buttonStyles }}>
      {% if props.image %}<img src="{{ root }}{{ props.image }}" alt="" />{% endif %}
      {{ props.label }}
    </a>

  </div>

{% endmacro %}
