.bg-dark {
    --body-color: var(--body-color-light);
    --heading-color: var(--heading-color-light);
    color: var(--body-color);

    .bg-light {
        --body-color: var(--body-color-dark);
        --heading-color: var(--heading-color-dark);
        color: var(--body-color);
    }
}

.bg-light {
    --body-color: var(--body-color-dark);
    --heading-color: var(--heading-color-dark);
    color: var(--body-color);

    .bg-dark {
        --body-color: var(--body-color-light);
        --heading-color: var(--heading-color-light);
        color: var(--body-color);
    }
}
