main.content {
    @apply relative;

    .alignwide {
        @apply container-wide;
    }

    .alignfull {
        @apply container-full;
    }
}

@layer base {
    :root :where(.is-layout-flow) > :last-child,
    :root :where(.is-layout-constrained) > :last-child {
        margin-block-end: 0;
    }

    :root :where(.is-layout-flow) > :first-child,
    :root :where(.is-layout-constrained) > :first-child {
        margin-block-start: 0;
    }

    :root :where(.is-layout-flow > *),
    :root :where(.is-layout-constrained) > * {
        margin-block: var(--spacing-block) 0;
    }

    :root :where(.is-layout-flex) {
        gap: var(--spacing-column);
    }

    :root :where(.is-layout-grid) {
        gap: var(--spacing-column);
    }

    .is-layout-constrained > :where(:not(:is(.alignleft, .alignright, .alignfull))) {
        @apply container;
    }

    .is-layout-flow > .alignright.wp-block-image,
    .is-layout-flow > .aligncenter.wp-block-image,
    .is-layout-flow > .alignleft.wp-block-image {
        display: block;
        float: none;
        margin-inline-start: unset;
    }
}
