main.content {
    @apply relative;
}

@layer base {
    .px-container-padding > .alignfull {
        margin-inline: calc(50% - (var(--vw, 1vw) * 50)) !important;
        width: var(--container-full-width) !important;
        max-width: calc(var(--vw, 1vw) * 100) !important;
    }
}
