/**
* @param {string} class
* @param {string} style
* @param {string} color
* @param {string} background
* @param {string} backgroundImage
* @param {string} fontSize
* @param {string} contentWidth
* @param {string} minHeight
* @param {string} id
* @param {string} justification - left | center | right | space-between
* @param {string} alignItems - top | middle | bottom | stretch
* @param {string} align - full | wide
* @param {string} customStyle
* @param {string} layout - row | stack
* @param {string} layoutWrap
* @param {string} blockGap
*/

{% macro render( props ) %}

  {% from "macros/blocks.njk" import  block %}

  {% if props.contentWidth or props.alignItems or props.blockGap%}
    {% set uid = uid() %}
  {% endif %}

  {% set classes = buildClasses(props, [
    'wp-container-'+ uid if props.contentWidth or props.alignItems or props.blockGap,
    'is-layout-constrained' if not props.layout or props.layout == 'group',
    'is-layout-flex' if props.layout == 'row',
    'is-layout-flex is-vertical' if props.layout == 'stack',
    'is-nowrap' if (props.layout == 'row' or props.layout == 'stack') and not props.layoutWrap
  ]) %}

  {% set styles = buildStyles(props, []) | safe %}

  {%  set id = ' id="' + props.id + '"' if props.id %}

  <div class="wp-block-group {{ classes }}"{{ styles}}{{ id }}>

    {% if props.innerContent %}

      {% include props.innerContent %}

    {% endif %}

    {% if caller %}{{ caller()  }}{% endif %}

    {% if props.contentWidth or props.alignItems or props.blockGap %}

      <!--for static purpose only -->
      <style>
        {% if props.contentWidth  %}
        .wp-container-{{ uid }}.wp-container-{{ uid }} > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
          max-width: {{ props.contentWidth }};
          margin-left: {% if props.justification == 'left' %}0{% else %}auto{% endif %} !important;
          margin-right: {% if props.justification == 'right' %}0{% else %}auto{% endif %} !important;
        }
        {% endif %}

        {% if props.alignItems %}
        {% if props.alignItems == 'top' %}
        {% set alignStyles = 'flex-start' %}
        {% elif props.alignItems == 'middle' %}
        {% set alignStyles = 'center' %}
        {% elif props.alignItems == 'bottom' %}
        {% set alignStyles = 'flex-end' %}
        {% elif props.alignItems == 'stretch' %}
        {% set alignStyles = 'stretch' %}
        {% endif %}

        .wp-container-{{ uid }} {
          align-items: {{ alignStyles }};
        }
        {% endif %}

        {%  if props.blockGap %}
        .wp-container-{{ uid }} {
          gap: {{ props.blockGap }};
        }
        {% endif %}
      </style>


    {% endif %}

  </div>

{% endmacro %}
