@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "@secretstache/wordpress-gutenberg/build/editor-canvas.css";

@import "./settings/media.css";
@import "./settings/source.css";
@import "./settings/theme.css";
@import "./settings/utility.css";
@import "./settings/variant.css";
@import "./settings/safelist.css";
@import "./common/layout.css";
@import "./common/backgrounds.css";

/* globals */
@import "./global/site-header.css";
@import "./global/site-header.editor.css";

/* core blocks */
@import "./blocks/button.css";
@import "./blocks/columns.css";
@import "./blocks/form.css";
@import "./blocks/gallery.css";
@import "./blocks/group.css";
@import "./blocks/heading.css";
@import "./blocks/image.css";
@import "./blocks/list.css";
@import "./blocks/separator.css";
@import "./blocks/separator.editor.css";
@import "./blocks/table.css";
@import "./blocks/video.css";

/* custom blocks */
@import "./blocks/section-wrapper.css";
@import "./blocks/section-wrapper.editor.css";

.editor-styles-wrapper {
    .block-editor-block-list__layout.is-root-container {
        @apply overflow-clip font-sans-serif text-md;
        color: var(--body-color);
        line-height: 1.227;

        :focus-visible {
            transition: unset;
            outline: none;
            box-shadow: none;
        }

        &:has(.root-block-appender),
        &:has(.root-pattern-appender) {
            margin-bottom: 3rem;
            padding-bottom: 200px;

            & > .block-list-appender.wp-block {
                display: none;
            }
        }

        .empty-block-appender__buttons-wrapper {
            @apply flex gap-4;
        }

        .root-block-appender {
            position: absolute;
            bottom: 30px;
            left: 15%;
            transform: none;
            margin: unset !important;
            box-shadow: none;
            border: 1px solid #000;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 50%;
            max-width: none !important;
        }

        .root-pattern-appender {
            position: absolute;
            bottom: 30px;
            left: 65%;
            margin: unset !important;
            box-shadow: none;
            border: 1px solid #000;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;

            &::after {
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
                visibility: hidden;
                opacity: 0;
                z-index: 1;
                transition: opacity 0.3s;
                border-radius: 2px;
                background: #000;
                padding: 4px 8px;
                width: max-content;
                max-width: 200px;
                content: attr(data-tooltip);
                color: #f0f0f0;
                font-size: 12px;
                line-height: 1.4;
                font-family:
                    -apple-system,
                    BlinkMacSystemFont,
                    Segoe UI,
                    Roboto,
                    Oxygen-Sans,
                    Ubuntu,
                    Cantarell,
                    Helvetica Neue,
                    sans-serif;
                text-align: center;
                white-space: nowrap;
            }

            &:hover::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.is-layout-constrained > .block-library-block__reusable-block-container {
    margin: unset !important;
    max-width: unset !important;

    > :where(:not(:is(.alignleft, .alignright, .alignfull))) {
        @apply container;
    }
}

:where(.editor-styles-wrapper .block-editor-block-list__layout.is-root-container) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: inherit;
    }

    h1 {
        @apply h1;
    }

    h2 {
        @apply h2;
    }

    h3 {
        @apply h3;
    }

    h4 {
        @apply h4;
    }

    h5 {
        @apply h5;
    }

    h6 {
        @apply h6;
    }

    p {
        margin: unset;
        font-size: unset;
        line-height: unset;
    }

    /* override paragraph margins */
    :where(.is-layout-flow) > p,
    :where(.is-layout-constrained) > p {
        margin-block: var(--spacing-block) 0;

        &:first-child {
            margin-block-start: 0;
        }

        &:last-child {
            margin-block-end: 0;
        }
    }

    .alignfull {
        margin-inline: calc(50% - (50vw - 15px / 2));
        width: calc(100vw - 15px); /* 15px - scrollbar width */
        max-width: calc(100vw - 15px);
    }
}
