@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "@secretstache/wordpress-gutenberg/build/editor-canvas.css";

@import "./settings/media.css";
@import "./settings/source.css";
@import "./settings/theme.css";
@import "./settings/utility.css";
@import "./settings/variant.css";
@import "./settings/safelist.css";
@import "./common/layout.css";
@import "./common/typography.css";
@import "./common/backgrounds.css";

/* globals */
@import "./global/site-header.css";

/* core blocks */
@import "./blocks/button.css";
@import "./blocks/columns.css";
@import "./blocks/form.css";
@import "./blocks/gallery.css";
@import "./blocks/group.css";
@import "./blocks/heading.css";
@import "./blocks/image.css";
@import "./blocks/list.css";
@import "./blocks/separator.css";
@import "./blocks/table.css";
@import "./blocks/video.css";

/* custom blocks */
@import "./blocks/section-wrapper.css";
@import "./blocks/section-wrapper.editor.css";

.editor-styles-wrapper {
    .block-editor-block-list__layout.is-root-container {
        @apply overflow-clip;
        color: var(--body-color);
        font-size: var(--text-base);

        :focus-visible {
            transition: unset;
            outline: none;
            box-shadow: none;
        }
    }
}

:where(.editor-styles-wrapper) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: inherit;
    }

    h1 {
        @apply h1;
    }

    h2 {
        @apply h2;
    }

    h3 {
        @apply h3;
    }

    h4 {
        @apply h4;
    }

    h5 {
        @apply h5;
    }

    h6 {
        @apply h6;
    }

    p {
        margin: unset;
        font-size: unset;
        line-height: unset;
    }

    ol,
    ul {
        margin: 0;
        padding: 0;
    }

    :where(.is-layout-flow) > *,
    :where(.is-layout-constrained) > *,
    :where(.is-layout-flow) > p,
    :where(.is-layout-constrained) > p {
        margin-block: var(--spacing-block) 0;
    }
}
