@use "sass:string";
@use "sass:map";

@each $prop, $value in $wrapper-spacings {
    @include breakpoint(medium) {
        .spacing-mt-#{$prop} {
            margin-top: var(--section-spacing-#{$prop}) !important;
        }

        .spacing-mb-#{$prop} {
            margin-bottom: var(--section-spacing-#{$prop}) !important;
        }

        .spacing-pt-#{$prop} {
            padding-top: var(--section-spacing-#{$prop}) !important;
        }

        .spacing-pb-#{$prop} {
            padding-bottom: var(--section-spacing-#{$prop}) !important;
        }
    }

    @include breakpoint(small only) {
        .mobile-spacing-mt-#{$prop} {
            margin-top: var(--section-spacing-mobile-#{$prop}) !important;
        }

        .mobile-spacing-mb-#{$prop} {
            margin-bottom: var(--section-spacing-mobile-#{$prop}) !important;
        }

        .mobile-spacing-pt-#{$prop} {
            padding-top: var(--section-spacing-mobile-#{$prop}) !important;
        }

        .mobile-spacing-pb-#{$prop} {
            padding-bottom: var(--section-spacing-mobile-#{$prop}) !important;
        }
    }
}

.wp-block-ssm-section-wrapper {
    display: flex;
    position: relative;
    @include alignfull(false);

    &.has-background {
        margin-top: var(--section-spacing-mobile-0);
    }

    @include breakpoint(small only) {
        margin-top: var(--section-spacing-mobile-0);
        margin-bottom: var(--section-spacing-mobile-0);

        &.has-background {
            padding-top: var(--section-spacing-mobile-3);
            padding-bottom: var(--section-spacing-mobile-3);
        }
    }

    @include breakpoint(medium) {
        margin-top: var(--section-spacing-0);
        margin-bottom: var(--section-spacing-0);

        &.has-background {
            padding-top: var(--section-spacing-3);
            padding-bottom: var(--section-spacing-3);
        }
    }

    &.alignwide {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    &__background {
        @include overlay;
        pointer-events: none;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        lottie-player,
        dotlottie-player {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        @include content-layout;
        z-index: 20;
    }

    &.full-height {
        align-items: center;
        min-height: calc(var(--vh, 1vh) * 100);

        @include breakpoint(small only) {
            min-height: 100svh;
        }
    }
}
