.wp-block-columns {
    display: flex;
    flex-wrap: wrap;
    align-items: unset;

    &.is-layout-flex {
        gap: var(--spacing-column);
    }

    .wp-block-column {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
        word-break: break-word;
        overflow-wrap: break-word;

        @media (--md) {
            &.is-vertically-aligned-top {
                align-self: start !important;
            }

            &.is-vertically-aligned-center {
                align-self: center !important;
            }

            &.is-vertically-aligned-bottom {
                align-self: end !important;
            }
        }

        &.has-background {
            border-radius: 0.625rem;
            padding: rem(16);
        }

        /* custom styles */
        &.is-style-fixed-height {
            @media (--md) {
                display: flex;
                flex-direction: column;
                min-height: 27.5rem;

                > .wp-block-heading:first-child {
                    margin-bottom: auto;
                }
            }
        }
    }

    &.has-background,
    &.has-border {
        border-radius: 0.625rem;
        padding: rem(16);
    }

    &:not(.is-not-stacked-on-mobile) {
        flex-wrap: wrap !important;

        @media (--md) {
            flex-wrap: nowrap !important;
        }
    }

    @media (--md) {
        flex-wrap: nowrap;

        &.are-vertically-aligned-top {
            align-items: start !important;
        }

        &.are-vertically-aligned-bottom {
            align-items: end !important;
        }

        &.are-vertically-aligned-center {
            align-items: center !important;
        }

        &:not(.is-not-stacked-on-mobile) > .wp-block-column[style*="flex-basis"] {
            flex-grow: 0;
        }

        /* to make sure all columns have the same width if no width is defined */
        &:not(:has(.wp-block-column[style*="flex-basis"])) {
            /* 2 columns */
            .wp-block-column:first-child:nth-last-child(2),
            .wp-block-column:first-child:nth-last-child(2) ~ .wp-block-column {
                flex-basis: calc(100% / 2 - (var(--spacing-column) - var(--spacing-column) / 2));
            }

            /* 3 columns */
            .wp-block-column:first-child:nth-last-child(3),
            .wp-block-column:first-child:nth-last-child(3) ~ .wp-block-column {
                flex-basis: calc(100% / 3 - (var(--spacing-column) - var(--spacing-column) / 3));
            }

            /* 4 columns */
            .wp-block-column:first-child:nth-last-child(4),
            .wp-block-column:first-child:nth-last-child(4) ~ .wp-block-column {
                flex-basis: calc(100% / 4 - (var(--spacing-column) - var(--spacing-column) / 4));
            }

            /* 5 columns */
            .wp-block-column:nth-last-child(n + 5),
            .wp-block-column:nth-last-child(n + 5) ~ .wp-block-column {
                flex-basis: calc(100% / 5 - (var(--spacing-column) - var(--spacing-column) / 5));
            }
        }
    }

    @media (--max-md) {
        .wp-block-column {
            flex-basis: 100% !important;
        }

        &:not(.is-not-stacked-on-mobile) > .wp-block-column {
            flex-basis: 100% !important;
        }
    }

    /* custom styles */
    &.is-always-wrap {
        @media (--md) {
            flex-wrap: wrap !important;
        }
    }

    &.is-mobile-reverse {
        @media (--max-md) {
            flex-direction: column-reverse;
        }
    }
}
