.gform_wrapper.gform-theme {
    form {
        grid-row-gap: rem(16);
        display: grid;
        grid-template-columns: 1fr;
    }

    fieldset,
    legend {
        background: 0 0;
        padding: 0;
    }

    fieldset {
        display: block;
        margin: 0;
        border: none;
    }

    legend {
        margin-right: 0;
        margin-left: 0;
    }

    input:not([type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="image"], [type="file"]),
    select,
    textarea {
        display: block;
        position: relative;
        margin: 0;
        outline: none;
        box-shadow: none;
        border: 1px solid var(--form-input-border-color);
        border-radius: var(--form-input-border-radius);
        background: var(--form-input-bg-color);
        padding: 0.625rem 0.75rem;
        width: 100%;
        height: auto;
        color: var(--form-input-color);
        line-height: 1.2;

        &::placeholder {
            opacity: 0.4;
            color: inherit;
        }

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 1px dotted;
        }
    }

    .gform_fields {
        display: grid;
        grid-template-rows: repeat(auto-fill, auto);
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
        grid-gap: rem(16);
    }

    .gfield_description {
        @apply mb-4;
    }

    .gfield {
        grid-column: 1/-1;

        &.gfield--width-full {
            grid-column: span 12;
        }

        &.gfield--width-eleven-twelfths {
            grid-column: span 11;
        }

        &.gfield--width-five-sixths {
            grid-column: span 10;
        }

        &.gfield--width-three-quarter {
            grid-column: span 9;
        }

        &.gfield--width-two-thirds {
            grid-column: span 8;
        }

        &.gfield--width-seven-twelfths {
            grid-column: span 7;
        }

        &.gfield--width-half {
            grid-column: span 6;
        }

        &.gfield--width-five-twelfths {
            grid-column: span 5;
        }

        &.gfield--width-third {
            grid-column: span 4;
        }

        &.gfield--width-quarter {
            grid-column: span 3;
        }

        .gfield_label {
            @apply block mb-1  font-medium;
        }

        .gfield_radio,
        .gfield_checkbox {
            display: grid;
            gap: 0.5rem;
        }

        textarea.large {
            height: 7rem;
        }
    }

    @media (width <= 640px) {
        .gform_fields {
            grid-column-gap: 0;
        }

        .gfield:not(.gfield--width-full) {
            grid-column: 1/-1;
        }
    }

    .gform_footer {
        text-align: center;
    }

    .gform-button,
    .gform_button {
        --button-bg: var(--color-black);
        --button-color: var(--color-white);
        --button-bg-hover: var(--color-white);
        --button-color-hover: var(--color-black);
        --button-border: transparent;
        --button-paddings: rem(12) rem(32);
        --button-height: rem(52);
        --button-radius: rem(8);
        --button-font-size: rem(14);

        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        transition:
            transform var(--tr),
            color var(--tr),
            background var(--tr),
            border-color var(--tr);
        cursor: pointer;
        box-shadow: none !important;
        border: 1.5px solid;
        border-color: var(--button-border) !important;
        border-radius: var(--button-radius) !important;
        background: var(--button-bg) !important;
        padding: var(--button-paddings) !important;
        min-height: var(--button-height) !important;
        color: var(--button-color) !important;
        font-weight: 700 !important;
        font-size: var(--button-font-size) !important;
        line-height: 1.2 !important;
        letter-spacing: 0;
        user-select: none;
        text-align: center;
        text-decoration: none;

        &:focus,
        &:active {
            outline: none;
        }

        &:focus-visible {
            outline: 1px dotted;
        }

        &:disabled,
        &.disabled {
            pointer-events: none;
        }

        &:hover {
            --button-bg: var(--button-bg-hover);
            --button-color: var(--button-color-hover);
        }
    }

    .gfield_validation_message {
        ul {
            margin: 1rem 0;
            padding-left: 1.5rem;

            &:empty {
                display: none;
            }
        }
    }

    .gf_hidden,
    .gform_hidden {
        display: none;
    }

    .hidden_label .gfield_label,
    .hidden_sub_label,
    .screen-reader-text {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        clip-path: inset(50%);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        word-wrap: normal !important;
    }

    .ginput_complex {
        display: flex;
        flex-flow: row wrap;
    }

    .gform_submission_error {
        display: none;
    }

    /* stylelint-disable-next-line */
    form {
        .gfield_error .gfield_repeater_cell label,
        .gfield_error label,
        .gfield_error legend,
        .gfield_validation_message,
        .validation_message,
        [aria-invalid="true"] + label,
        label + [aria-invalid="true"] {
            color: var(--error-color);
        }

        .gfield_validation_message,
        .validation_message {
            border: 0;
            background: none;
            padding: 0;
        }

        .gfield.gfield_error {
            input:not([type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="image"], [type="file"]),
            select,
            textarea {
                border-color: var(--error-color);
            }
        }
    }
}
