.wp-block-image {
    @apply block relative;
    margin-bottom: unset;

    img {
        @apply block overflow-hidden max-h-full;
    }

    a {
        @apply block;
    }

    .wp-element-caption {
        @apply mt-4 text-left;
    }

    &.aligncenter {
        @apply block text-center;

        .wp-element-caption {
            @apply text-center;
        }

        img {
            @apply ml-auto mr-auto;
        }
    }

    &.alignright {
        @apply block;

        .wp-element-caption {
            @apply text-right;
        }

        img {
            @apply md:ml-auto;
        }
    }

    &.alignfull {
        @apply block;

        img {
            @apply w-full;
        }
    }
}

.is-layout-flow > .alignright,
.is-layout-flow > .alignleft,
.is-layout-constrained > .alignleft,
.is-layout-constrained > .alignright {
    @media (--max-md) {
        float: none !important;
        margin-inline-start: unset !important;
        margin-inline-end: unset !important;
    }
}
